/* Reset body styles */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Styling for the container of information */
#infoContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* Styling for buttons */
button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background: #3d3d3d;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

button:active {
  background: #555;
}

/* Fullscreen canvas */
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
